body{
    font-family: Arial;
    background:url(novo.png);
    background-size: 100%;
}

h1 { text-align: center; }

p { text-align: center;
    text-align: justify;
    color: cornsilk;
}

img {
        border-radius: 10px;
        width: 300px;
	    height: 200px;
       
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover{ 
    background: #fff;
    color:#2b1055;
}
 
section{
	padding: 30px;
    display: flex;
    justify-content: space-evenly;
	flex-wrap:wrap;
	align-items: center;
}

div.texto{
	color: white;
    position: relative;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
    background: rgb(2, 8, 12);
    padding: 1rem 1rem 1rem;
    text-shadow: rgb(0 0 0 / 45%) -1px 2px 2px, rgb(0 0 0 / 75%) 0px 0px 1px;
    max-width: 500px;
    left: 2rem;
}
